@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

nav {
  display: flex;
  margin: 1rem;
  align-items: center;
  justify-content: space-between;
}

img[alt="logo"] {
  flex-basis: 10%;
}

.nav-items {
  flex-basis: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5rem;
}

.nav-item {
  font-size: 1rem;
  padding: 0 4rem;
  font-weight: 500;
  color: #333;
  cursor: pointer;
}

.active-item {
  font-weight: 700;
  color: #e15200;
}

img[alt="actions"] {
  flex-basis: 10%;
  width: 20%;
}

/* => MAIN Section */

.intro-section {
  margin-top: 2rem;
  display: flex;
  align-content: center;
  justify-content: center;
}

.left-section {
  margin: 1rem 2rem;
  flex-basis: 50%;
}

.left-section > h3 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
}

img[alt="circles"] {
  width: 5%;
}

.left-section > h1 {
  margin: 1rem 0;
  font-family: "Fredoka One", cursive;
  font-size: 4rem;
}

.sub-headlines {
  margin-left: 4rem;
}

.sub-headline {
  display: flex;
  align-items: center;
  /* margin: 0; */
}

.sub-headline > img {
  width: 2.5%;
  background-color: #e15200;
  border-radius: 50%;
  padding: 0.25rem;

  margin-right: 0.5rem;
}

.text {
  padding: 1rem;
  padding-left: 0;
  color: #ccc;
}

.action-btn {
  color: white;
  background-color: #e15200;
  border: none;
  border-radius: 50px;
  padding: 1rem 2rem;
  font-size: 1.125rem;
  cursor: pointer;
}

.action-btn:first-child {
  margin-right: 1rem;
}

.right-section {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headphone-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.discount {
  width: 9%;
  position: absolute;
  right: 30%;
  top: 45%;
}

.discount-content {
  color: white;
  position: absolute;
  right: 32%;
  top: 50%;
  font-size: 1rem;
}

.discount-content > h4,
h1 {
  margin: 0;
}

img[alt="headphone"] {
  width: 50%;
}

.dots {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.dot {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: red;
  margin: 0 1rem;
}

.yellow-dot {
  background-color: yellow;
}

.tomato-dot {
  background-color: tomato;
}

.black-dot {
  background-color: black;
}

.right-section .action-btn {
  margin: 2rem 0;
  width: 30%;
}
